{% extends 'base.html.twig' %}

{% block title %}Sesion{% endblock %}

{% block body %}
    <h1>Sesion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sesion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ sesion.fecha ? sesion.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ sesion.hora ? sesion.hora|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Vip</th>
                <td>{{ sesion.vip ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DiaEspectador</th>
                <td>{{ sesion.diaEspectador ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ButacasOcupadas</th>
                <td>{{ sesion.butacasOcupadas }}</td>
            </tr>
            <tr>
                <th>IdPeli</th>
                <td>{{ sesion.idPeli }}</td>
            </tr>
            <tr>
                <th>NombrePeli</th>
                <td>{{ sesion.nombrePeli }}</td>
            </tr>
            <tr>
                <th>AnoPeli</th>
                <td>{{ sesion.anoPeli ? sesion.anoPeli|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ImgPeli</th>
                <td>{{ sesion.imgPeli }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sesion_index') }}">back to list</a>

    <a href="{{ path('app_sesion_edit', {'id': sesion.id}) }}">edit</a>

    {{ include('sesion/_delete_form.html.twig') }}
{% endblock %}
