{% extends 'base.html.twig' %}

{% block title %}Sesion index{% endblock %}

{% block body %}
    <h1>Sesion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Vip</th>
                <th>DiaEspectador</th>
                <th>ButacasOcupadas</th>
                <th>IdPeli</th>
                <th>NombrePeli</th>
                <th>AnoPeli</th>
                <th>ImgPeli</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sesion in sesions %}
            <tr>
                <td>{{ sesion.id }}</td>
                <td>{{ sesion.fecha ? sesion.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ sesion.hora ? sesion.hora|date('H:i:s') : '' }}</td>
                <td>{{ sesion.vip ? 'Yes' : 'No' }}</td>
                <td>{{ sesion.diaEspectador ? 'Yes' : 'No' }}</td>
                <td>{{ sesion.butacasOcupadas }}</td>
                <td>{{ sesion.idPeli }}</td>
                <td>{{ sesion.nombrePeli }}</td>
                <td>{{ sesion.anoPeli ? sesion.anoPeli|date('Y-m-d') : '' }}</td>
                <td>{{ sesion.imgPeli }}</td>
                <td>
                    <a href="{{ path('app_sesion_show', {'id': sesion.id}) }}">show</a>
                    <a href="{{ path('app_sesion_edit', {'id': sesion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sesion_new') }}">Create new</a>
{% endblock %}
